* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #b9aca5;
}
.todo-container {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  width: 600px;
  transform: translate(-50%, -50%);
  background: rgb(4, 32, 44);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo {
  width: 400px;
}
.todo-container h2 {
  padding: 10px;
  font-family: sans-serif;
  font-size: 2em;
}
.todo-header input {
  width: 86%;
  border: none;
  border-radius: 5px;
  height: 30px;
  font-family: sans-serif;
  padding-left: 10px;
}
.todo-header button {
  height: 30px;
  width: 50px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius:15%;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
  background-color: rgb(86, 153, 153);
}
.todo-container ul {
  list-style: none;
}
.todo-list-item {
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-family: sans-serif;
  background: rgb(86, 139, 170);
  display: flex;
  flex-direction: row;
}
.todo-list-item form {
  width: 100%;
  display: flex;
}
.todo-list-item input {
  flex-grow: 2;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  font-family: sans-serif;
}
.todo-list-item button {
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-family: sans-serif;
  background-color: rgb(18, 223, 154);
}
.todo-list-item .cancel {
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  font-family: sans-serif;
  background-color: rgb(223, 43, 43);
  margin-left: 5px;
}
.todo-list-item div {
  flex-grow: 2;
}
.todo-list-item .edit {
  color: rgb(18, 223, 154);
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
}
.todo-list-item .remove {
  color: rgb(0, 0, 0);
  margin-right: 5px;
  cursor: pointer;
  text-decoration: none;
}
